<% layout("/layouts/boilerplate") %>

<section class="banner" style="background-image:url(assets/img/background.jpg)" >
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">pages</a>
        </li>
          <li class="breadcrumb-item active" aria-current="page">Add On's</li>
      </ol>
      <h2>Add On's</h2>
    </div>
  </section>

  <!-- <div class="container gap no-top">
    <div class="decoration-ideas"><br><Br>
        <h2>CAKES</h2>
        <ul class="instagram-posts">
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Chocolate Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Butterscotch Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Red Velvet Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>White Forest Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Pineapple Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Strawberry Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
        </ul>
        <ul class="instagram-posts">
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Chocolate Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Butterscotch Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Red Velvet Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>White Forest Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Pineapple Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Strawberry Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
        </ul>

        <br><Br>
          <h2>PARTY PROPS</h2>
          <ul class="instagram-posts">
            <li>
              <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>LED Numbers</h6> <h6><span style="color:red">₹ 500/-</span></h6>
            </li>
            <li>
              <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Fog Effect</h6> <h6><span style="color:red">₹ 500/-</span></h6>
            </li>
            <li>
              <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>HBD LED</h6> <h6><span style="color:red">₹ 500/-</span></h6>
            </li>
            <li>
              <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Bride LED</h6> <h6><span style="color:red">₹ 500/-</span></h6>
            </li>
            <li>
              <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Pineapple Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
            </li>
            <li>
              <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Strawberry Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
            </li>
          </ul>
    </div>
  </div> -->

  <div class="container gap no-top">
    <div class="decoration-ideas"><br><br>
      <% categories.forEach(category => { %>
        <h2><%= category.name.toUpperCase() %></h2>
        <ul class="instagram-posts">
          <% category.products.forEach(product => { %>
            <li>
              <a href="<%= product.image %>" data-fancybox="gallery">
                <figure><img alt="<%= product.name %>" src="<%= product.image %>"></figure>
              </a>
              <br>
              <h6><%= product.name %></h6>
              <h6><span style="color:red">₹ <%= product.price %>/-</span></h6>
            </li>
          <% }) %>
        </ul>
      <% }) %>
    </div>
  </div>