<% layout("/layouts/boilerplate") %>

<div class="banner pb-0" style="background-color: #f7f7f7 ;">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
          <li class="breadcrumb-item">
          <a href="#">Party By Theme</a>
        </li>
          <li class="breadcrumb-item active" aria-current="page">Love Theme</li>
      </ol>
    </div>
  </div>
  <section class="gap no-top" style="background-color: #f7f7f7 ;">
    <div class="container">
      <div class="row">
        <div class="occasion-details">
          <div class="row">
            <div class="col-lg-6">
              <div class="pd-gallery two">
                <div class="pd-main-img">
                    <img id="NZoomImg" alt="ballon" src="/assets/img/theme/4.png">
                    
                </div>
                <ul class="pd-imgs">
                      <li class="li-pd-imgs nav-active">
                          <a href="JavaScript:void(0)">
                            <img alt="ballon" src="/assets/img/theme/1.png">
                          </a>
  
                      </li>
                      <li class="li-pd-imgs">
                        <a href="JavaScript:void(0)">
                          <img alt="ballon" src="/assets/img/theme/2.png">
                        </a>
                      </li>
                      <li class="li-pd-imgs">
                        <a href="JavaScript:void(0)">
                          <img alt="ballon" src="/assets/img/theme/3.png">
                        </a>
                      </li>
                      <li class="li-pd-imgs">
                        <a href="JavaScript:void(0)">
                          <img alt="ballon" src="/assets/img/theme/4.png">
                        </a>
                      </li> 
                      <li class="li-pd-imgs">
                        <a href="JavaScript:void(0)">
                          <img alt="ballon" src="/assets/img/theme/5.png">
                        </a>
  
                      </li>
                  </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="theme-text party-balloons">
              <h6>Ready Time <span>– 2.5 to 3 Hours</span></h6>
              <h3>Surprise your loved one with intimate Celebration</h3>
          
              
              <div class="content">
                <p align="justify">This package includes decoration, hall rent only, add on's like cake etc will be charged seperatly</p>
                <div class="party-balloons">
                  <ul>
                    <li><img alt="chak" src="/assets/img/chak.png">50 balloons on floor and wall decoration</li>
                    <li><img alt="chak" src="/assets/img/chak.png">50 balloons on ceiling description</li>
                    <li><img alt="chak" src="/assets/img/chak.png">2 heart foil balloon</li>
                  </ul>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="d-flex align-items-baseline">
                  <h4>₹ 4,000/-</h4>
                  <span>(Add On's will be charged separately)</span>
                </div>
              </div><br>
           
            <a href="/booking" class="btn"><span>Book Now</span></a>
          
          </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>

  <!-- dynamic section  -->
  <% if (typeof sections !== 'undefined' && sections && sections.length > 0) { %>
  <section class="gap no-top" style="background-color: #f7f7f7 ;">
    <div class="container">
      <div class="row">
        <div class="occasion-details">
          <div class="row">
            <div class="col-lg-6">
              <div class="pd-gallery two">
                <div class="pd-main-img">
                  <img id="NZoomImg" alt="<%= section.name %>" src="<%= section.images[0] %>">
                </div>
                <ul class="pd-imgs">
                  <% section.images.forEach((image, index) => { %>
                    <li class="li-pd-imgs <%= index === 0 ? 'nav-active' : '' %>">
                      <a href="JavaScript:void(0)">
                        <img alt="<%= section.name %>" src="<%= image %>">
                      </a>
                    </li>
                  <% }) %>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="theme-text party-balloons">
                <h6>Ready Time <span>– <%= section.readyTime %> Hours</span></h6>
                <h3><%= section.title %></h3>
                
                <div class="content">
                  <p align="justify"><%= section.description %></p>
                  <div class="party-balloons">
                    <ul>
                      <% section.features.forEach(feature => { %>
                        <li><img alt="chak" src="/assets/img/chak.png"><%= feature %></li>
                      <% }) %>
                    </ul>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-baseline">
                    <h4>₹ <%= section.price.toFixed(2) %>/-</h4>
                    <span>(Add On's will be charged separately)</span>
                  </div>
                </div><br>
             
                <a href="/booking" class="btn"><span>Book Now</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% } %>
  <!-- dynamic section  -->



<section class="gap no-top">
    <div class="container">
      <div class="comment mt-0">
        <h3>Similar Theme Parties</h3>
              <div class="boder"></div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="similar-occasion">
            <figure>
              <img src="/assets/img/theme/6.png" alt="similar-occasion">
            </figure>
            
            <a href="/birthday_theme"><h4>Birthday Theme</h4></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="similar-occasion">
            <figure>
              <img src="/assets/img/theme/8.png" alt="similar-occasion">
            </figure>
            
            <a href="#"><h4>Bride/Groom Theme</h4></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="similar-occasion">
            <figure>
              <img src="/assets/img/theme/7.png" alt="similar-occasion">
            </figure>
            
            <a href="#"><h4>Baby Theme</h4></a>
          </div>
        </div>
      </div>
    </div>
  </section>