<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Products</h1>
<a href="/admin/products/new">Add New Product</a>
<ul>
  <% products.forEach(product => { %>
    <li>
      <%= product.name %> - <%= product.price %> - <%= product.category.name %>
      <img src="<%= product.image %>" alt="<%= product.name %>" width="100">
      <a href="/admin/products/<%= product._id %>/edit">Edit</a>
      <form action="/admin/products/<%= product._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% }) %>
</ul>
</body>
</html>